<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Emmanuel Guefif PortFolio Website</title>
    <meta name="description" content="Emmanuel Guefif portfolio" />
    <meta name="keywords" content="Emmanuel Guefif portfolio raytracer shell programmer" />
    <meta name="robots" content="index,follow" />
	<link rel="stylesheet" href="{% static 'pf/css/styles.css' %}">
	<link rel="stylesheet" href="{% static 'pf/css/fontawesome.css' %}">
	<link rel="stylesheet" href="{% static 'pf/css/bootstrap.css' %}">
    <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Poppins:wght@300;400;600;700&display=swap"
    rel="stylesheet"
  />
  </head>
  <body>
    <main>
	<!-- hero -->
        <header class="header vh-100 text-center position-relative">
            <div class="text-container position-relative d-flex flex-column justify-content-center align-items-center h-100">
                <h5 class="text-primary fs-3 fw-bold text-uppercase">
                    Welcome
                </h5>
                <h1 id="typing-text" class="display-1 fw-bold  text-white">
                </h1>
                <p class="roles text-white text-uppercase fs-4">Student programmer</p>
                <a href="#about" class="btn btn-outline-light btn-lg mt-3">
                    <div class="d-flex">
                        <div class="me-3">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                        <div class="text-start">
                            <span>More About Me</span>
                        </div>
                    </div>
                </a>
            <div class="social d-flex gap-3 position-absolute">
                <a href="https://www.linkedin.com/feed/">
                    <i class="fab fa-linkedin fa-3x text-white"></i>
                </a>
                <a href="https://github.com/eguefif">
                    <i class="fab fa-github fa-3x text-white"></i>
                </a>
            </div>
            </div>    
        </header>

        <!-- About -->
        <section id="about" class="about bg-light py-5">
            <div class="container">
                <div class="text-center">
                    <h4 class="text-uppercase fw-bold text-primary">
                        About Me
                    </h4>
                    <hr class="w-25 mx-auto"/>
                    <h2 class="mb-4">Let me introduce myself.</h2>
                </div>
                <div class="about-content d-flex gap-5 align-items-center h-100">
					<img src="{% static 'pf/images/emmanuel.jpeg' %}" alt="" class="about-img img-fluid rounded-circle">
                    <p class="lead">
Lifelong learner, I made my first program when I was sixteen. It was a GCD calculator implementing an algorithm I had learned at school. I soon made my first website for my parent's music association using PHP/SPIP and HTML/CSS. When I moved to a big city to study, I realized how complex the world was and I wanted to understand it. So, I studied sociology and then became a teacher to share my passion for learning and nurture my student's curiosity. I’ve never given up on programming. In the meantime, I studied a bit of Java and C++. More recently, I fell into the AI and Python rabbit hole. After meeting one of my students' fathers, I realized that talking about computers made me feel very good, and I decided to turn what was a passion into a profession. I am now about to finish the 42 common core and am eager to start as a programmer.
                    </p>
                </div>
            </div>
        </section>
<!--
        Profile & skills 
        <section class="profile my-6">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-uppercase fw-bold">
                            Profile
                        </h3>
                    <p>
                        Here is some more info about myself to help you get to know me better.
                    </p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item mb-3">
                            <h6 class="text-transform">
                                <i class="fas fa-user text-primary"></i>
                            Emmanuel Guefif
                            </h6>
                        </li>
                        <li class="list-group-item mb-3">
                            <h6 class="text-transform">
                                <i class="fas fa-building text-primary"></i>
                            January 23, 1984
                            </h6>
                        </li>
                        <li class="list-group-item mb-3">
                            <h6 class="text-transform">
                                <i class="fas fa-home text-primary"></i> 
								www.eguefif.org
                            </h6>
                        </li>
                        <li class="list-group-item mb-3">
                            <h6 class="text-transform">
                                <i class="fas fa-calendar text-primary"></i>
                            Student at 42 Quebec
                            </h6>
                        <li class="list-group-item mb-3">
                            <h6 class="text-transform">
                                <i class="fas fa-envelope text-primary"></i> 
                            </h6>
                        </li>
                    </ul>
                    </div>
                    <div class="col-md-4">
                        <h4 class="text-uppercase fw-bold">Technical skills</h4>
                        <h5><i class="fas fa-check"></i> C - 850 hours</h5>
                        <h5><i class="fas fa-check"></i> Python - 550 hours</h5>
                        <h5><i class="fas fa-check"></i> C++ - 300 hours</h5>
                        <h5><i class="fas fa-check"></i> Javascript - 100 hours</h5>
                        <h5><i class="fas fa-check"></i> Bash - 50 hours</h5>
                        <h5><i class="fas fa-check"></i> Docker - 50 hours</h5>
                        <h5><i class="fas fa-check"></i> Github - 50 hours</h5>
                    </div>
                    <div class="col-md-4">
                        <h4 class="text-uppercase fw-bold">Soft skills</h4>
                        <h5><i class="fas fa-check"></i> Pair programming</h5>
                        <h5><i class="fas fa-check"></i> Team Working</h5>
                        <h5><i class="fas fa-check"></i> Problem solving</h5>
                        <h5><i class="fas fa-check"></i> Critical thinking</h5>
                        <h5><i class="fas fa-check"></i> Communication</h5>
                    </div>
                </div>
            </div>
        </section>
		-->
<!-- Projects -->
        <section id="projects" class="projects my-5">
            <div class="container">
                <div class="text-center mb-5">
                    <h4 class="text-uppercase fw-bold text-primary">
                        Portfolio
                    </h4>
                    <hr class="w-25 mx-auto"/>
                    <h2 class="mb-4">Check Out My Work</h2>
                    <p class="lead">Here is sample of my projects.</p>
                </div>
                <div class="row">
					{% for project in projects %}
                    <div class="col md-6 mb-4">
                        <div class="card project shadow-lg rounded-3" style="width: 20rem">
							<img src="{{ project.image.url }}" alt="" class="card-img-top rounded-3">
                            <div class="card-body">
								<center>
									<h3 class="card-title text-uppercase fw-bold">{{ project.title }}</h3>
									<a
									class="btn btn-primary text-white mt-4 align-self-start" 
									data-bs-toggle="modal" 
									data-bs-target="#modal{{ project.n }}"> More Info
									</a>
								</center>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <!-- modal -->
        {% for project in projects %}
		<div id="modal{{ project.n }}" class="modal fade">
            <div class="modal-dialog modal-xl mt-7">
                <div class="modal-content p-2">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="image-container">
								{% if project.img_nbr == 1 %}
									<img src="{{ project.image.url }}" class="d-block w-100">
								{% elif project.img_nbr > 1 %}
									<div class="carousel slide" id="slider{{ project.n }}">
										<div class="carousel-indicators">
                                            {% for img in project.images %}
											<button
                                            {% if img.n == 0 %}class="active" {% endif %}
                                            data-bs-slide-to="{{ img.n }}" data-bs-target="#slider{{ project.n }}"></button>
                                            {% endfor %}
										</div>
										<div class="carousel-inner">
                                            {% for img in project.images %}
											<div class="carousel-item {% if img.n == 0 %} active {% endif %}">
												<img src="{{ img.url }}" alt="" class="d-block w-100"/>
											</div>
                                            {% endfor %}
                                        </div>
										<button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#slider{{ project.n }}">
											<span class="carousel-control-prev-icon"></span>
											<span class="visually-hidden">Previous</span>
										</button>
										<button class="carousel-control-next" data-bs-slide="next" data-bs-target="#slider{{ project.n }}">
											<span class="carousel-control-next-icon"></span>
											<span class="visually-hidden">Next</span>
										</button>
									</div>
								{% endif %}
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="text-container">
									<div class="row">
										<div class="col-md-6">
											<a class="d-inline py-3" href="{{ project.github }}"><i class="fab fa-github fa-2x text-secondary"></i></a>
										</div>
										<div class="col-md-6">
											<div class="d-flex w-100 justify-content-end">
												<button class="btn d-inline btn-close btn-light" data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
										</div>
									</div>
									<div class="d-flex w-100 justify-content-center">
										<h2 class="upper-case fw-bold">
											{{ project.title }}
										</h2>
									</div>
								<p>{{ project.description }}</p>
								<h5 class="fw-bold text-secondary"> Skills and technology</h5>
                                <ul class="list-group-list-group-flush-lh-lg">
									{% for skill in project.skill %}
                                    <li class="list-group-item">
                                        <i class="fas fa-square text-primary"></i>
										{{ skill.name }}
                                    </li>
									{% endfor %}
									{% for tech in project.tech %}
                                    <li class="list-group-item">
                                        <i class="fas fa-square text-primary"></i>
										{{ tech.name }}
                                    </li>
									{% endfor %}
                                </ul>
								<div class="d-flex w-100 justify-content-end">
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		{% endfor %}

        <!-- footer-->
        <div class="footer text-bg-dark bg-gradient py-2 w-100">
			<div class="row py-2 px-3 justify-content-center">
				<div class="col-md-4">
                Design credit - Brad Traversy and styleshoutout
				</div>
				<div class="col-md-4">
					<div class="d-flex w-100 justify-content-center">
					Crafted by Emmanuel Guefif using django and boostrap
					</div>
				</div>
				<div class="col-md-4">
					<div class="d-flex w-100 justify-content-end">
						<hstack class="gap3">
							<a href="https://www.linkedin.com/feed/" class="">
								<i class="fab fa-linkedin fa-2x text-primary"></i>
							</a>
							<a href="https://github.com/eguefif" class="">
								<i class="fab fa-github fa-2x text-primary"></i>
							</a>
						</hstack>
					</div>
				</div>
            </div>
        </div>
    </main>
	<script src="{% static 'pf/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'pf/js/script.js' %}"></script>
  </body>
</html>
