<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ user.userprofile.fullname }} PortFolio Website</title>
    <meta name="description" content="{{ user.userprofile.fullname }}portfolio" />
    <meta name="keywords" content="{{ user.userprofile.fullname }} portfolio raytracer shell programmer" />
    <meta name="robots" content="index,follow" />
	<link rel="stylesheet" href="{% static 'pf/css/styles.css' %}">
	<link rel="stylesheet" href="{% static 'pf/css/fontawesome.css' %}">
	<link rel="stylesheet" href="{% static 'pf/css/bootstrap.css' %}">
    <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Poppins:wght@300;400;600;700&display=swap"
    rel="stylesheet"
  />
  </head>
  <body>
    <main>
	<!-- hero -->
        <header class="header vh-100 text-center position-relative">
            <div class="text-container position-relative d-flex flex-column justify-content-center align-items-center h-100">
                <h5 class="text-primary fs-3 fw-bold text-uppercase">
                    Welcome
                </h5>
                <h1 id="typing-text" class="display-1 fw-bold  text-white">
                </h1>
				<p class="roles text-white text-uppercase fs-4">{{ user.userprofile.role }}</p>
                <div class="text-container align-items-center">
                <div class="hero-btns d-flex gap-2 align-items-center h-100">
                        <a href="#about" class="btn hero-btn btn-outline-light btn-md mt-3">
                            <div class="d-flex">
                                <div class="me-3">
                                    <i class="fas fa-chevron-down"></i>
                                </div>
                                <div class="text-start">
                                    <span>More About Me</span>
                                </div>
                            </div>
                        </a>
                        <a href="{{ user.userprofile.resume.url }}" class="btn hero-btn btn-outline-light btn-md mt-3 d-none d-sm-block">
                            <div class="d-flex">
                                <div class="me-3">
                                    <i class="fas fa-chevron-down"></i>
                                </div>
                                <div class="text-start">
                                    <span>Download Resume</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            <div class="social d-flex gap-3 position-absolute">
		    <a href="{{ user.userprofile.linkedin }}">
                    <i class="fab fa-linkedin fa-3x text-white"></i>
                </a>
		<a href="{{ user.userprofile.github }}">
                    <i class="fab fa-github fa-3x text-white"></i>
                </a>
            </div>
            </div>
        </header>

        <!-- About -->
        <section id="about" class="about bg-light py-5">
            <div class="container">
                <div class="text-center">
                    <h4 class="text-uppercase fw-bold text-primary">
                        About Me
                    </h4>
                    <hr class="w-25 mx-auto"/>
                    <h2 class="mb-4">Let me introduce myself.</h2>
                </div>
                <div class="about-content d-flex gap-5 align-items-center h-100">
					<img src="{{ user.userprofile.image.url }}" alt="" class="about-img img-fluid rounded-circle">
                    <p class="lead">
					{{ user.userprofile.description }}
                    </p>
                </div>
            </div>
        </section>

<!-- Projects -->
        <section id="projects" class="projects my-5">
            <div class="container w-100">
                <div class="text-center mb-5">
                    <h4 class="text-uppercase fw-bold text-primary">
                        Portfolio
                    </h4>
                    <hr class="w-25 mx-auto"/>
                    <h2 class="mb-4">Check Out My Work</h2>
                    <p class="lead">Here is sample of my projects.</p>
                </div>
                <div class="row">
					{% for project in projects %}
                    <div class="col-md-6 mb-4 col-sm-12 d-flex justify-content-center">
                        <div class="card project shadow-lg rounded-3" style="width: 20rem">
                            <img src="{{ project.image.url }}" alt="" class="card-img-top rounded-3" />
                            <div class="card-body">
                                <center>
                                    <h3 class="card-title project-title text-uppercase fw-bold">{{ project.title }}</h3>
                                    <a
                                    class="btn btn-primary text-white mt-4 align-self-start" 
                                    data-bs-toggle="modal" 
                                    data-bs-target="#modal{{ project.n }}"> More Info
                                    </a>
                                </center>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <!-- modal -->
        {% for project in projects %}
		<div id="modal{{ project.n }}" class="modal fade">
            <div class="modal-dialog modal-xl mt-7">
                <div class="modal-content p-2">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="image-container">
								{% if project.img_nbr == 1 %}
									<img src="{{ project.image.url }}" class="d-block w-100" />
								{% elif project.img_nbr > 1 %}
									<div class="carousel slide" id="slider{{ project.n }}">
										<div class="carousel-indicators">
                                            {% for img in project.images %}
											<button
                                            {% if img.n == 0 %}class="active" {% endif %}
                                            data-bs-slide-to="{{ img.n }}" data-bs-target="#slider{{ project.n }}"></button>
                                            {% endfor %}
										</div>
										<div class="carousel-inner">
                                            {% for img in project.images %}
											<div class="carousel-item {% if img.n == 0 %} active {% endif %}">
												<img src="{{ img.url }}" alt="" class="d-block w-100"/>
											</div>
                                            {% endfor %}
                                        </div>
										<button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#slider{{ project.n }}">
											<span class="carousel-control-prev-icon"></span>
											<span class="visually-hidden">Previous</span>
										</button>
										<button class="carousel-control-next" data-bs-slide="next" data-bs-target="#slider{{ project.n }}">
											<span class="carousel-control-next-icon"></span>
											<span class="visually-hidden">Next</span>
										</button>
									</div>
								{% endif %}
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="container">
                                <div class="container-fluid">
								    <div class="row mt-2">
								    	<div class="col-6">
								    		<a class=" href="{{ project.github }}"><i class="fab fa-github fa-2x text-secondary"></i></a>
								    	</div>
								    	<div class="col-6">
								    		<div class="d-flex w-100 justify-content-end">
								    			<button class="btn d-inline btn-close btn-light" data-bs-dismiss="modal" aria-label="Close"></button>
								    		</div>
								    	</div>
								    </div>
                                </div>
								<div class="d-flex w-100 justify-content-center">
									<h2 class="upper-case fw-bold">
										{{ project.title }}
									</h2>
								</div>
								<p>{{ project.description }}</p>
								<h5 class="fw-bold text-secondary"> Skills and technology</h5>
                                <ul class="list-group-list-group-flush-lh-lg">
									{% for skill in project.skill %}
                                    <li class="list-group-item">
                                        <i class="fas fa-square text-primary"></i>
										{{ skill.name }}
                                    </li>
									{% endfor %}
									{% for tech in project.tech %}
                                    <li class="list-group-item">
                                        <i class="fas fa-square text-primary"></i>
										{{ tech.name }}
                                    </li>
									{% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		{% endfor %}

        <!-- footer-->
        <section>
            <div class="footer text-bg-dark bg-gradient py-1 w-100">
                <div class="d-flex mt-5">
                    <p class="flex-grow-1 ps-3">
                    Design credit - Brad Traversy and styleshoutout
                    </p>
                    <div class="hstack gap-3 pe-3">
                        <a href="{{ user.userprofile.linkedin }}" class="">
                            <i class="fab fa-linkedin fa-2x text-primary"></i>
                        </a>
                        <a href="{{ user.userprofile.github }}" class="">
                            <i class="fab fa-github fa-2x text-primary"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
	<script src="{% static 'pf/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'pf/js/script.js' %}"></script>
  </body>
</html>
