<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-witdh, initial-scale=1.0">
	<title>Project {{ project.title }}</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<p>
		<h1>{{ project.title }}</h1>
		<a href="{{ project.github }}"> {{ project.url }} </a>
		<p>{{ project.description }}<p>
		<h3>Skills</h3>
		<ul>
			{% for skill in skills %}
			<li>{{ skill.name }} : {{ skill.description }}</li>
			{% endfor %}
		</ul>
		<h3>Technologies</h3>
		<ul>
			{% for technology in technologies %}
			<li>{{ technology.name }} </li>
			{% endfor %}
		</ul>
	</p>
	<p>
	<a href="{% url 'index' %}">index</a>
</body>
</html>
