.header {
  background: #151515 url(../images/nebula.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.header .roles {
  font-family: "lora-regular", serif;
}

.header .text-container {
  z-index: 10;
}

.header .social {
  bottom: 50px;
}

.about-img {
  width: 250px;
}

.modal-img {
  width: 850px;
}

.project-img {
  width: 450px;
}

.project {
  width: 350px;
}

.modal-dialog {
  max-width: 1240px;
}

.project:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
  opacity: 0.9;
}

@media (max-width: 767px) {
  .header .social i {
    font-size: 30px;
  }
  .header .roles {
    font-size: 18px !important;
  }
  .about-content {
    flex-direction: column;
  }
  .hero-btns {
    flex-direction: column;
  }
  .hero-btn {
    font-size: 12px;
    margin: 1px;
  }

}
